.outer {
    background-color: black;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    /* overflow: hidden; */
}

.inner {
    width: fit-content;
    height: fit-content;
    /* background-color: aqua; */
    margin: 50px auto 0px;
    text-align: center;
    color: white;
    padding: 1%;
}

.inner-about {
    font-size: 20px;
}

.margin {
    margin-top: 5px;
}

.inner-domain {
    font-size: 40px;
}

.profile {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    object-fit: cover;
    background: #d6caca;
    color: white;
    box-shadow: rgba(255, 255, 255, 0.486) 0px 2px 10px;
    margin-bottom: 20px;
}

.inner>h1 {
    font-size: 100px;
    color: #E24E1B;
}

.btn {
    margin-top: 10px;
}

.btn>a>button {
    cursor: pointer;
    font-size: 20px;
    padding: 1%;
    border-radius: 15px;
    background: none;
    color: white;
    border: white 2px solid;
}

.btn>a>button:hover {
    background-color: #E24E1B;
    border: black 2px solid;
}

#footer {
    color: white;
    /* background-color: #E24E1B; */
    font-size: 25px;
    width: fit-content;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1050px) {
    .profile {
        height: 200px;
        width: 200px;
    }

    .inner {
        width: 80%;
        /* height: 100%; */
        /* background-color: aqua; */
        text-align: center;
        color: white;
        padding: 1.5%;
    }

    .inner>h1 {
        font-size: 85px;
        color: #E24E1B;
    }
}

@media screen and (max-width: 1050px) {
    .profile {
        height: 180px;
        width: 180px;
    }
}

@media screen and (max-width: 800px) {
    .inner>h1 {
        font-size: 70px;
    }

    .inner-about {
        font-size: 16px;
    }

    .inner-domain {
        font-size: 30px;
    }
}

@media screen and (max-width: 585px) {
    .inner {
        margin: 60px auto;
    }

    /* .outer {
        overflow: hidden;
    } */

    .inner>h1 {
        font-size: 50px;
    }

    .inner-domain {
        font-size: 25px;
    }

    .btn>a>button {
        cursor: pointer;
        font-size: 18px;
        padding: 2%;
        border-radius: 15px;
        background: none;
        color: white;
        border: white 2px solid;
    }

    .inner {
        width: fit-content;
    }

    .inner-about {
        font-size: 15px;
    }

    #footer>p {
        font-size: 18px;
    }
}